#videoModal3 .modal-body .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #videoModal1 .modal-body .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #videoModal2 .modal-body .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #videoModal4 .modal-body .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #videoModal5 .modal-body .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   
  #videoModal6 .modal-body .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  