
<!-- Contact Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">{{'about_us' | translate}}</h1>
      <nav aria-label="breadcrumb" class="animated slideInDown">
        <ol class="breadcrumb">
        </ol>
      </nav>
    </div>
  </div><app-who-we-are></app-who-we-are>

<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">{{'about.1' |translate}} 
            </h5>
            <h1 class="mb-0">{{'about.2' |translate}} </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-4">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s" style="margin-top: 8rem">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-1 text-white"></i>
                        </div>
                        <h4>{{'about.3' |translate}} </h4>
                        <p class="mb-0">{{'about.4' |translate}} </p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="./assets/img/why.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-2  text-white fa-1x"></i>
                        </div>
                        <h4>{{'about.5' |translate}} </h4>
                        <p class="mb-0">{{'about.6' |translate}} </p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-3 text-white"></i>
                        </div>
                        <h4>{{'about.7' |translate}} </h4>
                        <p class="mb-0">{{'about.8' |translate}} .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<app-philosphy></app-philosphy>






    <!-- Feature End -->
<!--ZOne de TEXT start -->
<div class="container " style="background-color: primary;margin-bottom: 4rem;margin-top: 4rem;">
    <h1 class="text-primary " style="text-align: center;">{{'about.9' |translate}} </h1>
    <div class="border-top mt-4  pt-4 border-primary "style="margin-left: 42rem;margin-right: 42rem ;" ></div>
    <p style="text-align:center;">{{'about.10' |translate}} 
    <br><b> {{'about.11' |translate}} </b></p>
    </div>
    <!--ZOne de TEXT end -->
    
    
        <!-- Feature Start -->
      <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-primary "style="text-align:center;margin-bottom:2rem;">{{'about.12' |translate}} 
            </h1>
            <div class="row g-5">
                <div class="col-md-4 wow justify-content-center fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3" style="
                        
                            width: 100px;
                            height: 100px;
                        ">
                        <i class="fa-solid fa-people-group fa-2x text-white"></i>
    
                        </div>
                    </div>
                    <h5 class="mb-3" style="text-align: center;">{{'about.13' |translate}}  </h5>
                    <span style="text-align: center;color:black">{{'about.14' |translate}} </span>
                </div>
                <div class="col-md-4 wow  justify-content-center fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-center justify-content-center mb-4">
                        <div class="btn-lg-square bg-primary  rounded-circle me-3"  style="
                        
                        width: 100px;
                        height: 100px;
                    ">
    <i class="fa-solid fa-handshake-simple text-white fa-2x"></i>
                        </div>
                    </div>
                    <h5 class="mb-3" style="text-align: center;">{{'about.15' |translate}} 
                    </h5>
                    <span style="text-align: center;color:black">{{'about.16' |translate}} </span>
                </div>
                
                <div class="col-md-4 justify-content-center wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-center  justify-content-center mb-4">
                        <div class="btn-lg-square bg-primary rounded-circle me-3"style="
                        width: 100px;
                        height: 100px;
                    " >
                    <i class="fa-solid fa-circle-info text-white fa-2x"></i>                   
                    </div>
                    </div>
                    <h5 class="mb-3" style="text-align: center;">{{'about.17' |translate}} </h5>
                    <span  style="text-align: center;color:black"> {{'about.18' |translate}} </span>
                </div>
            </div>
        </div>
    </div>