<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="text-primary">{{ 'sectors.sectorActivities' | translate }}</h4>
            <p class="mb-4">{{ 'sectors.ingeniousEnergyGroup' | translate }}</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img height="500" width="300" src="./assets/img/s1.jpg" alt="">
                        <div class="team-social w-25"></div>
                    </div>
                    <div class="p-4">
                        <h5>{{ 'sectors.industrialSector' | translate }}</h5>
                        <span style="color: rgb(9, 31, 49);">{{ 'sectors.industrialSectorDescription' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img height="500" width="300" src="./assets/img/com.png" alt="">
                    </div>
                    <div class="p-4">
                        <h5>{{ 'sectors.commercial' | translate }}</h5>
                        <span style="color: rgb(9, 31, 49);">{{ 'sectors.commercialDescription' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img height="500" width="300" src="./assets/img/ss.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <h5>{{ 'sectors.institutional' | translate }}</h5>
                        <span style="color: rgb(9, 31, 49);">{{ 'sectors.institutionalDescription' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-md-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img height="500" width="300" src="./assets/img/sh.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <h5>{{ 'sectors.healthcare' | translate}}</h5>
                        <span style="color: rgb(9, 31, 49);">{{ 'sectors.healthcareDescription' | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img height="500" width="300" src="./assets/img/so.jpg" alt="">
                    </div>
                    <div class="p-4">
                        <h5>{{ 'sectors.solarAndGreenEnergies' | translate}}</h5>
                        <span style="color: rgb(9, 31, 49);">{{ 'sectors.solarAndGreenEnergiesDescription' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
        