<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">{{'navbar.turnkey_and_epc_projects' | translate}}</h1>
      <nav aria-label="breadcrumb" class="animated slideInDown">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-white">{{'navbar.energy_efficiency' | translate}}</a></li>
          <li class="breadcrumb-item"><a class="text-white">{{'navbar.turnkey_and_epc_projects' | translate}}</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">{{ 'tunkey.featurestitle' | translate }}</h5>
            <h3 class="mb-0">{{ 'tunkey.featuresSubtitle' | translate }}</h3>
        </div>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-cubes text-white"></i>
                        </div>
                        <h4>{{ 'tunkey.energyEfficiencyTitle' | translate }}</h4>
                        <p class="mb-0">{{ 'tunkey.energyEfficiencyDescription' | translate }}</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4  wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="./assets/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-users-cog text-white"></i>
                        </div>
                        <h4>{{ 'tunkey.foodProcessingTitle' | translate }}</h4>
                        <p class="mb-0">{{ 'tunkey.foodProcessingDescription' | translate }}</p>
                    </div>
                    
                </div>
            </div>
        </div>
        <p class="mb-0" style="text-align: center; margin-top: 2rem;"><b>{{ 'tunkey.servicesDescription' | translate }}</b></p>
    </div>
</div>
<!-- Features Start -->
