<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
      <h1 class="display-3 text-white mb-3 animated slideInDown">{{'navbar.energy_efficiency' | translate}}</h1>
      <nav aria-label="breadcrumb" class="animated slideInDown">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-white">{{'navbar.energy_efficiency' | translate}}</a></li>
          <li class="breadcrumb-item"><a class="text-white">{{'navbar.product_design_and_manufacturing' | translate}}</a></li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">{{ 'productt.ingeniousEnergyGroup' | translate }}</h5>
            <h1 class="mb-0">{{ 'productt.designingProducts' | translate }}</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.2s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-1 text-white"></i>
                        </div>
                        <h4>{{ 'productt.airHandlers' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.airHandlers' | translate }}</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-2 text-white"></i>
                        </div>
                        <h4>{{ 'productt.terminalUnits' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.terminalUnits' | translate }}</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-3 text-white"></i>
                        </div>
                        <h4>{{ 'productt.heatPumps' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.heatPumps' | translate }}</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-4 text-white"></i>
                        </div>
                        <h4>{{ 'productt.airCooled' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.airCooled' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 wow zoomIn" data-wow-delay="0.9s" style="min-height: 350px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.1s" src="./assets/img/feature.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-5">
                    <div class="col-12 wow zoomIn" data-wow-delay="0.4s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-5 text-white"></i>
                        </div>
                        <h4>{{ 'productt.plateAndFrameHeatExchangers' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.plateAndFrameHeatExchangers' | translate }}</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-6 text-white"></i>
                        </div>
                        <h4>{{ 'productt.dampersAndLouvers' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.dampersAndLouvers' | translate }}</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-7 text-white"></i>
                        </div>
                        <h4>{{ 'productt.heatRecoverySystems' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.heatRecoverySystems' | translate }}</p>
                    </div>
                    <div class="col-12 wow zoomIn" data-wow-delay="0.8s">
                        <div class="bg-primary rounded d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                            <i class="fa fa-8 text-white"></i>
                        </div>
                        <h4>{{ 'productt.externalAndSubmergedCoils' | translate }}</h4>
                        <p class="mb-0">{{ 'productt.externalAndSubmergedCoils' | translate }}</p>
                    </div>
                </div>
            </div>
            