<div class=" header-carousel position-relative">
    <div class="owl-carousel-item position-relative" data-dot="<img src='./assets/img/carousel-1.jpg'>">
        <img class="img-fluid" src="./assets/img/covere600.jpg" alt="">
    </div>  

</div>
<div class="frame frame-default frame-type-euradrives_psoverview frame-layout-0 m-5" id="c44">
    <section class="content section product_single_overview">
        <div class="container">
            <div class="row row-eq-height">

                <div class="hidden-xs hidden-sm col-md-4">
                    <div class="overview_img">
                        <img alt="" src="https://www.euradrives.net/uploadfile/2023/0211/a3c6190969d93d5.png" >
                    </div>
                </div>

                <div class="col-xs-12 col-md-8 ">
                    <h1>
                        E600                        <span class="ps_ov_header_sm">0.2 kW - 5,5 kW</span>
                        <span class="ps_ov_header_sm"></span>
                    </h1>

                    <hr class="subheader_hr">
                    <div class="visible-xs visible-sm hidden-md mob_img">
                        <img alt="" height="332" src="https://www.euradrives.net/uploadfile/2023/0211/a3c6190969d93d5.png" width="226">
                    </div>

                    <table class="info-table"><tbody><tr class="firstRow"><td>Best performance/cost ratio, without compromise in reliability and quality</td></tr><tr><td>Compact design, easy to integrate in your environment: DIN rail mounting, contactor-style I/O</td></tr><tr><td>Easy to setup: Simple set of optimized parameters for all basic functions and applications</td></tr><tr><td>PID and HVAC functions - safety integrated - MODBUS - open for networking</td></tr><tr><td>Internal EMC ﬁlter as standard: Ready for CE market</td></tr><tr><td>Economical mass production on high automated and dedicated SMT lines</td></tr><tr><td>General purpose drive - made for the worldwide market (CE/UL/CCC)</td></tr><tr><td>Approved and certiﬁed by European independent bodies</td></tr></tbody></table>                    <div class="btn_spacer"></div>

                    <div class="btn_container " style="margin-top: 1rem;">
                        <a class="btn btn-primary rounded-pill py-3 px-5  animated slideInLeft" href="./assets/files/be600.pdf">
                            BROCHURE
                        </a>
                        <a class="btn btn-secondary rounded-pill py-3 px-5  animated slideInLeft" href="./assets/files/me600.pdf">
                            MANUAL
                        </a>
                        <a class="button btn play_video" href="#video">&nbsp;</a>


                    </div>
                    
                </div>
            </div>
        </div>
    </section>
</div>

