<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">{{'navbar.heat_pumps_and_other_solutions' | translate}}</h1>
    <nav aria-label="breadcrumb" class="animated slideInDown">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-white">{{'navbar.renewable_green_energies' | translate}}</a></li>
        <li class="breadcrumb-item"><a class="text-white">{{'navbar.heat_pumps_and_other_solutions' | translate}}</a></li>
      </ol>
    </nav>
  </div>
</div>
<div class="container">
    <div class="row">
      <h1 class="text-muted" style="text-align: center;">{{ 'header.title' | translate }}</h1>
      <p style="text-align: center; font-size: larger;">
        <i><b>{{ 'header.description' | translate }}</b></i>
      </p>
    </div>
  </div>
  <!-- Feature Start -->
  <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <h6 class="text-primary">{{ 'feature.title' | translate }}</h6>
                        <h1 class="mb-4">{{ 'feature.subtitle' | translate }}</h1>
                        <p>{{ 'feature.content' | translate }} <a href="https://www.nrcan.gc.ca/energy-efficiency/products/product-information/heating-equipment-for-residential-use/13740">{{ 'feature.link' | translate }}</a></p>                       
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="./assets/img/winter.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- About Start -->
<div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 ps-lg-0  fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid " src="./assets/img/heat.jpg" style="object-fit: cover; margin-top :10rem;" alt="">
                     
                 </div>
            </div>
            <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
             <div class="p-lg-5 ps-lg-0">
                 <h1 class="text-primary m-3">{{ 'ab.title' | translate }}</h1>
                    <h1 class="mb-4 " ></h1>
                    <p>{{ 'ab.subtitle' | translate }}<i>
                 </i><br>
                    <a href="https://www.nrcan.gc.ca/energy-efficiency/energy-star-canada/about/energy-star-announcements/publications/heating-and-cooling-heat-pump/6817" class="btn btn-primary rounded-pill py-3 px-5 m-3">{{ 'ab.link' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
 
   <!-- About End -->
   <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
    <div class="container about px-lg-0">
      <div class="row g-0 mx-lg-0">
        <div class="col-lg-6 ps-lg-0  fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
          <div class="position-relative h-100">
            <img class="position-absolute img-fluid w-100 h-100" src="./assets/img/homes.jpg" style="object-fit: cover;" alt="">
          </div>
        </div>
        <div class="col-lg-6 about-text py-5 wow fadeIn" data-wow-delay="0.5s">
          <div class="p-lg-5 pe-lg-0">
            <h6 class="text-primary">{{ 'airSourceHeatPump' | translate }}</h6>
            <h1 class="mb-4 ">{{ 'homesTitle' | translate }}</h1>
            <p>{{ 'homesContent' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <h3 class="text-primary" style="text-align: center;">{{ 'mechanicalSystemTitle' | translate }}</h3>
    <div class="border-top mt-4  pt-4 border-dark "style="margin-left: 42rem;margin-right: 42rem ;" ></div>
    <p style="text-align: center;">{{ 'mechanicalSystemContent' | translate }}</p>
  </div>
  