<div class="container-fluid page-products py-5 mb-5">
    <div class="container py-5 ">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Products</h1>

    </div>
  </div>
  <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h6 class="text-secondary">FREQUENCY
                    INVERTER</h6>

              <h1>  UNIVERSAL INVERTER<br></h1>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a [routerLink]="'/p1'" class="image">
                                <img class="pic-1" src="./assets/img/e2100.jpg">
                                <img class="pic-2" src="./assets/img/e2100.png" height="300">
                            </a>
                            
                        </div>
                        <div class="product-content">
                          <a [routerLink]="'/p1'">  <h3 class="title"><a [routerLink]="'/p1'">E2100<br>0.4kW - 400 kW</a></h3>
                            <div class="price">High performace inverter for all your needs ... </div>
                            <p class="price text-secondary" >Read More...</p></a>

                            </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a [routerLink]="'/p2'" class="image">
                                <img class="pic-1" src="./assets/img/e66.jpg">
                                <img class="pic-2" src="./assets/img/e600.png" height="300">
                            </a>
                            
                        </div>
                        <div class="product-content">
                       <a [routerLink]="'/p2'">   <h3 class="title"><a [routerLink]="'/p2'">EP66 <br> 0.4 kW - 90 kW</a></h3>
                            <div class="price">The rugged stand alone AC drive with more protections</div>
                            <a class="text-secondary" >Read More...</a></a>  

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a [routerLink]="'/p3'" class="image">
                                <img class="pic-1" src="./assets/img/em63.jpg">
                                <img class="pic-2" src="./assets/img/em30.png" height="300">
                            </a>
                            
                        </div>
                        <div class="product-content">
                          <a [routerLink]="'/p3'"> <h3 class="title"><a [routerLink]="'/p3'" >EM30 <br> 0.4 kW - 15 kW</a></h3>
                            <div class="price">Decentralized drive solution for hard conditions</div>
                            <p class="price text-secondary" >Read More...</p></a> 

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid">
                        <div class="product-image">
                            <a [routerLink]="'/p4'" class="image">
                                <img class="pic-1" src="./assets/img/e600.jpg">
                                <img class="pic-2" src="./assets/img/e600.png">
                            </a>
                           
                        </div>
                        <div class="product-content">
                            <a [routerLink]="'/p4'"><h3 class="title"><a [routerLink]="'/p4'" >E600 <br> 0.2 kW - 5,5 kW</a></h3>
                            <div class="price">Decentralized drive solution for hard conditions</div>
                            <p class="price text-secondary" >Read More...</p></a>
                            </div>
                    </div>
                </div>